<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none;">
    <ion-card-header class="ion-text-center">
    </ion-card-header>
  <ion-card-content>
    <p>TechPartsHub is an online platform that aims to simplify the process of buying computer parts for computer enthusiasts, system builders, and IT professionals. The platform provides a comprehensive range of computer parts, including CPUs, motherboards, graphics cards, RAM, power supplies, storage devices, and more...</p>
    <ion-card-header>
    <h2>Got Any Concerns?.</h2>
    </ion-card-header>
    <p>Email us at TechPartsHub@gmail.com or Call us on 09354348834</p>
    <br>
    <p>We're located at 938 Aurora Blvd, Cubao, Quezon City, 1109 Metro Manila</p>
</ion-card-content>
</ion-card>
</ion-content>
