<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">About The App</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card style="box-shadow: none;">
      <ion-card-header class="ion-text-center">
    <h2>"OUR GOAL IS TO PROVIDE YOU THE BEST COMPUTER PARTS THAT YOU WILL EVER HAVE"</h2>
  </ion-card-header>
    <ion-card-content>
    <p>TechPartsHub is built for our valuables costumer to explore and browse different Computer parts online and also to give information... Here is our objectives.... </p>
    
  <ul>
    <li>Affordable Excellence of Tech</li>
    <li>Empowering you with Tech</li>
    <li>Quality repairing at your Affordability</li>
    <li>Fasted and Excellent Care for Your Computers</li>
    <li>One-click, multiple solutions</li>
    <li>Satisfaction is our motto</li>
  </ul>

  <img src="https://t3.ftcdn.net/jpg/03/32/86/72/360_F_332867276_m7XiTTagNtOtKTekcB5hRzSUmlL40m7d.jpg">

<br>
    <p align="right" >©TechPartsHub</p>
  </ion-card-content>
  </ion-card>
</ion-content>
