<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Developers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-card class="ion-text-center" style="box-shadow: none;">
      <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/338798484_676592054473242_7688956028970669886_n.jpg?stp=dst-jpg_p403x403&_nc_cat=103&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeHUmKDhuq6iIyuq8z9JN5vAIPN0bpmqAQgg83RumaoBCKld7EdjQBXRVMEh-Y_ufk7vTunashM-RJMdNDIlPURS&_nc_ohc=q_JGOTLMwawAX_JOvbn&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSapBTBbQE2VNMcKbD1NvSDLH891HijhWGBz1_FRQEkgg&oe=645308A2">
        <ion-card-header>
          <ion-card-title>KENNETH OLAIVAR</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <h2>BSIT-IT31S3</h2>
        </ion-card-content>
      </ion-card>

      <ion-card class="ion-text-center" style="box-shadow: none;">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/339576507_5278818252220642_3900821163189810003_n.jpg?stp=dst-jpg_s403x403&_nc_cat=100&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeGI9OV3SV9oUlDgfk_s4g58pppsVEIsKZymmmxUQiwpnA_zkZvaUsv53MXA7jdT4yRPtBq0n8NFIJOBgKpBn8oq&_nc_ohc=DhdqL2rpyl8AX-TTQNI&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRN9P7EJTiZ4CpHXxv8NpkLSUVHRW71WDjs8NWhuKcHYQ&oe=64532A23">
        <ion-card-header>
          <ion-card-title>ADRIAN KERR BUEN</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <h2>BSIT-IT31S3</h2>
        </ion-card-content>
      </ion-card>

      <ion-card class="ion-text-center" style="box-shadow: none;">
              <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/339657009_755124042679684_1006523148810576258_n.jpg?stp=dst-jpg_p403x403&_nc_cat=111&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeGcZBrlJ59ZtoM9QYrsgPkytKzUqoIK5o60rNSqggrmjh7hlw7N7-kMAE5nqrRDkI5vT0XKuZ9uHBjBRZjmiscL&_nc_ohc=DhUfHvLgShoAX8zRPfl&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTmghneakcGT0X2loCno_0snS3vNxdQyZyv0UlyKB47fw&oe=6453245F">

        <ion-card-header>
          <ion-card-title>WILLIAM DAVID DOMINGO</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h2>BSIT-IT31S3</h2>
        </ion-card-content>
      </ion-card>
      