<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Company History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: 100px;">
    <ion-card-header class="ion-text-center">
      
      </ion-card-header>
      
      <ion-card-content>

        <img src="/Users/kennetholaivar/Documents/project/project/src/assets/icon/Screen Shot 2023-04-20 at 4.56.37 PM.png">
  <p>TechPartsHub was founded in 2015 by a group of computer enthusiasts who were frustrated with the lack of reliable online retailers for computer parts. Their vision was to create an online shopping platform that provided computer enthusiasts with a one-stop-shop for all their hardware needs.

  <br><br>  In the beginning, TechPartsHub was a small startup with a limited inventory, but the team's passion and dedication to providing exceptional customer service quickly gained them a loyal following. As demand for their products grew, they expanded their product range to include a wider selection of computer parts, peripherals, and accessories.
    
  <br><br>Over the next few years, TechPartsHub continued to grow and improve its online shopping platform, with a focus on making the user experience as smooth and seamless as possible. They invested in state-of-the-art software to optimize their inventory management, order processing, and shipping operations, which helped them to provide faster shipping times and more accurate tracking information to their customers.
    
  <br><br>In 2018, TechPartsHub launched their own line of branded computer parts and peripherals, including RAM, SSDs, and gaming mice. These products were designed and manufactured to the highest quality standards, with an emphasis on affordability and compatibility with a wide range of computer systems.
    
  <br><br>As their reputation grew, TechPartsHub attracted the attention of several investors, who recognized the company's potential for growth and expansion. With the backing of these investors, TechPartsHub was able to scale up their operations, hiring more staff and expanding their inventory to include a wider selection of products from top brands in the computer hardware industry.
    
  <br><br>Today, TechPartsHub is one of the leading online retailers of computer parts and accessories, with a vast selection of products and a reputation for exceptional customer service. They continue to innovate and improve their platform, with a focus on staying at the forefront of the ever-evolving computer hardware industry. </p>
    
  <br>
    <p align="right" >©TechPartsHub</p>
</ion-card-content>
</ion-card>
  </ion-content>
